iframe {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
}

.new::after {
  content: url(new.png);
  width: 10px;
  height: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  width: 350px; 
  border: 3px solid black; 
  margin-left: 30px; 
  margin-bottom: 40px; 
  height: 200px;
}

.grid-item:hover {
  filter: brightness(150%);
  box-shadow: 5px 10px 18px black;
  padding: 30px;
}

.backToGames {
  cursor: pointer;
  border-radius: 1em;
  box-shadow: 5px 10px 18px black;
  font-size: xx-large;
  color: black;
  border: solid 3px black;
  background-color: white;
  padding: 20px;
  position: absolute;
  left: 0;
  top: 101%;
}

.backToGames:active {
  box-shadow: none;
  padding: 15px;
}

.backToGames:hover {
  background-color: black;
  color: white;
}

.grid-item:active {
  padding: 10px;
  box-shadow: none;
}